{% extends 'base.html' %}
{% block content %}
<div class="container mt-5 ">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card my-4">
                <div class="card-header text-center">
                    <h4><b>단 어 연 습 설 정</b></h4>
                </div>
                <div class="card-body">
                    <form class="form-inline" action="{% url 'trains-setting' %}" method="post">
                        {% csrf_token %}

                        <div class="row mb-3">
                            <label for="train_word_count" class="col-sm-3 col-form-label">연습 단어 갯수</label>
                            <div class="col-sm-9">
                                <input type="text" id="train_word_count" name="train_word_count"
                                       value="{{ config.train_word_count }}"
                                       class="form-control" placeholder="단어 갯수을 입력하세요(단어 범위 보다 작으면 랜덤 선택 됩니다.)"
                                       required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="train_repeat" class="col-sm-3 col-form-label">반복 횟수</label>
                            <div class="col-sm-9">
                                <input type="text" id="train_repeat" name="train_repeat"
                                       value="{{ config.train_repeat }}"
                                       class="form-control" placeholder="반복 횟수를 입력하세요"
                                       required>
                            </div>
                        </div>

                        <input type="hidden" name="train_seconds" value="0">
<!--                            노출 시간은 삭제 예정-->
<!--                        <div class="row mb-3">-->
<!--                            <label for="train_seconds" class="col-sm-3 col-form-label">노출 시간</label>-->
<!--                            <div class="col-sm-9">-->
<!--                                <input type="text" id="train_seconds" name="train_seconds"-->
<!--                                       value="{{ config.train_seconds }}" class="form-control"-->
<!--                                       placeholder="단어가 보여 지는 시간을 입력하세요(단위:초)" required>-->
<!--                            </div>-->
<!--                        </div>-->


                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label">TTS 음성 재생</label>
                            <div class="col-sm-9">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-light active">
                                        <input type="radio" name="train_tts_play" value="True"
                                               {% if config.train_tts_play %}checked{% endif %}> 음성 재생
                                    </label>
                                    <label class="btn btn-light">
                                        <input type="radio" name="train_tts_play" value="False"
                                               {% if not config.train_tts_play %}checked{% endif %}> 음성 재생 안 함
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary mt-3">단어 연습 시작</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-5 ">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card my-4">
                <div class="card-header text-center">
                    <h4><b>단 어 연 습 안 내</b></h4>
                </div>

                <div class="container mt-2 mb-2">
                    <div >
                        <div class="card-body">
                            <DIV class="row">
                                <div class="container ">
                                    <h6><b>연습 단어 갯수</b></h6>
                                    <div class="line-break"></div>
                                    <ul class="row">
                                        <li>연습하실 단어 갯수를 입력하시면 입력하신 갯수만큼 영어단어가 램덤하게 출력됩니다.</li>
                                        <li>출력된 영어단어와 단어뜻 1번을 정확히 입력하시면 다음 단어로 전환됩니다.</li>
                                    </ul>
                                </div>

                                 <div class="container mt-3 mb-2">
                                    <h6><b>반복 횟수</b></h6>
                                    <div class="line-break"></div>
                                    <ul class="row">
                                        <li>랜덤하게 추출된 연습 단어를 반복 횟수 만큼 반복하며 연습하실 수 있습니다.</li>
                                    </ul>
                                </div>

                                <div class="container mt-3 mb-2">
                                    <h6><b>TTS 음성 재생</b></h6>
                                    <div class="line-break"></div>
                                    <ul class="row">
                                        <li>TTS 음성 재생을 선택하시면 영어단어와 단어뜻 1번이 연속을 재생됩니다. </li>
                                    </ul>
                                </div>
                            </DIV>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock content %}
