{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container mt-5 ">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card my-4">
                <div class="card-header text-center">
                    <h4><b>단 어 연 습 {{train_repeat}}-{{show_num}}</b></h4>
                </div>

                <div class="container mt-5">
                    <div class="card">
                        <div class="card-body">
                            <DIV class="row">
                                <div><span class="wordname">{{ train_word.en_word }}</span></div>
                                <div class="wordtype">{{ train_word.word_class }}</div>
                                <div class="line-break"></div>
                                <div class="right">
                                    <span class="a0">{{ train_word.en_phonetic }}</span>
                                    <span class="a2"> {{ train_word.ko_phonetic }}</span>
                                </div>
                                <div class="wordmean">{{ train_word.ko_word_1 }} <span class="a2"> {{ train_word.ko_romanize }}</span>
                                </div>
                                <div class="wordmean">{{ train_word.ko_word_2 }}</div>
                            </DIV>
                        </div>
                    </div>
                </div>


                <div class="card-body">
                    <form class="form-inline" action="{% url 'trains-show' %}"
                          method="post" onsubmit="return validateForm();">
                        {% csrf_token %}
                        <input type="hidden" name="show_num" value="{{show_num}}">

                        <div class="row mb-3">
                            <label for="train_en_word" class="col-sm-3 col-form-label">영어단어</label>
                            <div class="col-sm-9">
                                <input type="text" id="train_en_word" name="train_en_word" autofocus
                                       {% if user.is_superuser %}
                                       value="{{ train_word.en_word }}"
                                       {% endif %}
                                       class="form-control" placeholder="영어 단어 ({{ train_word.en_word }}) 를 입력하세요"
                                       required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="train_ko_word_1" class="col-sm-3 col-form-label">단어뜻 1</label>
                            <div class="col-sm-9">
                                <input type="text" id="train_ko_word_1" name="train_ko_word_1"
                                       {% if user.is_superuser %}
                                       value="{{ train_word.ko_word_1 }}"
                                       {% endif %}
                                       class="form-control" placeholder="첫번째 단어뜻 ({{ train_word.ko_word_1 }}) 을 입력하세요"
                                       required>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary mt-3">확 인</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function validateForm() {
        var enWordInput = document.getElementById("train_en_word").value;
        var koWordInput = document.getElementById("train_ko_word_1").value;

        var enWord = "{{ train_word.en_word }}";
        var koWord = "{{ train_word.ko_word_1 }}";

        if (enWordInput !== enWord) {
            alert("영어단어와 일치하지 않습니다.");
            return false; // 폼 제출 차단
        }

        if (koWordInput !== koWord) {
            alert("단어뜻이 일치하지 않습니다.");
            return false; // 폼 제출 차단
        }

        return true; // 폼 제출 허용
    }
</script>

{% endblock content %}
