<!-- templates/trains/word_practice_history.html -->
{% extends 'base.html' %}

{% block title %}Word Practice Record{% endblock title %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5 mb-4 mt-5">
        <div class="card mx-2">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                최근 연습한 단어
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>영어 단어</th>
                                <th>단어 뜻</th>
                                <th>연습 횟수</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for practice in recent_practice_words %}
                                <tr>
                                    <td>{{ practice.id_word.en_word }}</td>
                                    <td>{{ practice.id_word.ko_word_1 }}</td>
                                    <td>{{ practice.train_count }} times</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5 mb-4 mt-5 ms-md-4">
        <div class="card mx-2">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                많이 연습한 단어
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>영어 단어</th>
                                <th>단어 뜻</th>
                                <th>연습 횟수</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for practice in frequent_practice_words %}
                                <tr>
                                    <td>{{ practice.id_word__en_word }}</td>
                                    <td>{{ practice.id_word__ko_word_1 }}</td>
                                    <td>{{ practice.total_practice }} times</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-8 mt-5">
        <div class="card mx-2">
            <div class="card-header">
                <i class="fas fa-chart-bar me-1"></i>
                최근 10일 연습 세션 횟수
            </div>
            <div class="card-body">
                <canvas id="practiceChart"></canvas>
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var ctx = document.getElementById('practiceChart').getContext('2d');

    var practiceData = JSON.parse('{{ practice_data_json|escapejs }}'); // Django에서 전달한 데이터

    var dates = []; // 날짜 배열
    var sessionCounts = []; // 연습 횟수 배열

    practiceData.forEach(function(practice) {
        dates.push(practice.date);
        sessionCounts.push(practice.session_count);
    });

    var chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: dates,
            datasets: [{
                label: '연습 세션 횟수',
                data: sessionCounts,
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
});
</script>
{% endblock content %}