{% extends 'base.html' %}
{% block content %}
<div class="container mt-5 ">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card my-4">
                <div class="card-header text-center">
                    <h4><b>단 어 TEST 설 정</b></h4>
                </div>
                <div class="card-body">
                    <form class="form-inline" action="{% url 'exam-setting' %}" method="post">
                        {% csrf_token %}

                        <div class="row mb-3">
                            <label for="exam_word_count" class="col-sm-3 col-form-label">TEST 단어 갯수</label>
                            <div class="col-sm-9">
                                <input type="text" id="exam_word_count" name="exam_word_count"
                                       value="{{ config.exam_word_count }}"
                                       class="form-control" placeholder="단어 갯수을 입력하세요(단어 범위 보다 작으면 랜덤 선택 됩니다.)"
                                       required>
                            </div>
                        </div>

                        <input type="hidden" name="exam_seconds" value="0">
                        <!--                         <div class="row mb-3">-->
                        <!--                            <label for="exam_seconds" class="col-sm-3 col-form-label">노출 시간</label>-->
                        <!--                            <div class="col-sm-9">-->
                        <!--                                <input type="text" id="exam_seconds" name="exam_seconds"-->
                        <!--                                       value="{{ config.exam_seconds }}" class="form-control"-->
                        <!--                                       placeholder="단어가 보여 지는 시간을 입력하세요(단위:초)" required>-->
                        <!--                            </div>-->
                        <!--                        </div>-->


                        <div class="row mb-3">
                            <label for="exam_difficulty" class="col-sm-3 col-form-label">TEST 레벨</label>
                            <div class="col-sm-9">
                                <select id="exam_difficulty" name="exam_difficulty" class="form-control" required>
                                    <option value="" disabled selected>TEST 레벨을 선택하세요</option>
                                    {% for level in levels %}
                                    <option value="{{ level }}"
                                            {% if config.exam_difficulty == level %}selected{% endif %}>
                                        {{ level }} 레벨
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-3 col-form-label">TTS 음성 재생</label>
                            <div class="col-sm-9">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-light active">
                                        <input type="radio" name="exam_tts_play" value="True"
                                               {% if config.exam_tts_play %}checked{% endif %}> 음성 재생
                                    </label>
                                    <label class="btn btn-light">
                                        <input type="radio" name="exam_tts_play" value="False"
                                               {% if not config.exam_tts_play %}checked{% endif %}> 음성 재생 안 함
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary mt-3">단어 TEST 시작</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 ">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card my-4">
                <div class="card-header text-center">
                    <h4><b>단 어 TEST 안 내</b></h4>
                </div>

                <div class="container mt-2 mb-2">
                    <div >
                        <div class="card-body">
                            <DIV class="row">
                                <div class="container ">
                                    <h6><b>레벨 설명</b></h6>
                                    <div class="line-break"></div>
                                    <ul class="row">
                                        <li>1레벨 : 영어단어 스페링이 랜덤하게 감춰지고 전체 단어를 입력하는 테스트입니다. [10초]</li>
                                        <li>2레벨 : 영어단어가 출력되고 단어의 뚯을 맞추는 테스트 입니다. [8초] - 힌트 있음</li>
                                        <li>3레벨 : 영어단어의 뜻이 출력되고 영어단어를 맞추는 테스트 입니다. [6초]</li>
                                        <li>4레벨 : 영어단어, 단어뜻이 랜덤하게 출력됩니다.[4초]</li>
                                        <li>5레벨 : 영어단어, 단어뜻이 랜덤하게 출력됩니다.[3초]</li>
                                    </ul>
                                </div>

                                 <div class="container mt-5 mb-2">
                                    <h6><b>TTS 설명</b></h6>
                                    <div class="line-break"></div>
                                    <ul class="row">
                                        <li>1레벨 : 영어단어, 단어뜻 모두 재생됩니다.</li>
                                        <li>2레벨 : 영어단어만 재생됩니다.</li>
                                        <li>3레벨 : 단어 뜻만 재생됩니다.</li>
                                        <li>4, 5 레벨 : 출제된 단어만 맞게 재생됩니다.</li>
                                    </ul>
                                </div>
                            </DIV>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock content %}
