{% extends 'base.html' %}
{% block content %}

<div class="container mt-5 ">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card my-4">
                <div class="card-header text-center">
                    <h4><b>단 어 입 력</b></h4>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'word-save' %}">
                        {% csrf_token %}

                        <input type="hidden" name="find_word_num" value="{{ find_word_num }}">
                        <input type="hidden" name="find_message" value="{{ find_message }}">

                        <div class="row mb-3">
                            <label for="en_word" class="col-sm-3 col-form-label">영어 단어:</label>
                            <div class="col-sm-9">
                                <input type="text" id="en_word" name="en_word" value="{{ find_word_dict.en_word }}"
                                       class="form-control" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="en_phonetic" class="col-sm-3 col-form-label">영어 발음:</label>
                            <div class="col-sm-9">
                                <input type="text" id="en_phonetic" name="en_phonetic"
                                       value="{{ find_word_dict.en_phonetic }}" class="form-control" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="word_class" class="col-sm-3 col-form-label">품사:</label>
                            <div class="col-sm-9">
                                <input type="text" id="word_class" name="word_class"
                                       value="{{ find_word_dict.word_class }}" class="form-control" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="ko_phonetic" class="col-sm-3 col-form-label">한글 발음:</label>
                            <div class="col-sm-9">
                                <input type="text" id="ko_phonetic" name="ko_phonetic"
                                       value="{{ find_word_dict.ko_phonetic }}" class="form-control" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="ko_word_1" class="col-sm-3 col-form-label">단어 뜻 1:</label>
                            <div class="col-sm-9">
                                <input type="text" id="ko_word_1" name="ko_word_1"
                                       value="{{ find_word_dict.ko_word_1 }}" class="form-control" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="ko_word_2" class="col-sm-3 col-form-label">단어 뜻 2:</label>
                            <div class="col-sm-9">
                                <input type="text" id="ko_word_2" name="ko_word_2"
                                       value="{{ find_word_dict.ko_word_2 }}" class="form-control" required>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="ko_romanize" class="col-sm-3 col-form-label">로마자:</label>
                            <div class="col-sm-9">
                                <input type="text" id="ko_romanize" name="ko_romanize"
                                       value="{{ find_word_dict.ko_romanize }}" class="form-control" required>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">저장하기</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <!-- word list 출력 -->
                    <p>{{show_word_list | safe}}</p>
                    <p>{{find_message}}</p>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


