{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header bg-primary text-white text-center">
                    <h3 class="mb-0">로그인</h3>
                </div>
                <div class="card-body">
                    <form method="POST" novalidate>
                        {% csrf_token %}
                        <div class="mb-3">
                            <!-- 아이디 입력 레이블과 필드 -->
                            <label for="{{ form.username.id_for_label }}" class="form-label">{{ form.username.label_tag }}</label>
                            {{ form.username }}
                        </div>
                        <div class="mb-3">
                            <!-- 비밀번호 입력 레이블과 필드 -->
                            <label for="{{ form.password.id_for_label }}" class="form-label">{{ form.password.label_tag }}</label>
                            {{ form.password }}
                        </div>
                        <div class="mb-3 text-center">
                            <button class="btn btn-primary" type="submit">로그인</button>
                        </div>
                    </form>
                </div>
                <!-- 아이디 찾기 버튼 -->
                <div class="card-footer text-center py-3">
                    <div class="small"><a href="{% url 'search_id' %}">아이디 찾기</a></div>
                </div>
                <!-- 비밀번호 찾기 버튼 -->
                <div class="card-footer text-center py-3">
                    <div class="small"><a href="{% url 'find_password' %}">비밀번호 찾기</a></div>
                </div>
                <div class="card-footer text-center">
                    <!-- 회원가입 페이지로 이동하는 링크 -->
                    <p class="mb-0">아직 계정이 없으신가요? <a href="{% url 'register' %}">회원가입</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}