{% extends 'base.html' %}
{% block content %}
<style>
    .container {
        width: 30%;
        margin: auto;
    }
.profile_title {
        padding-right: 20px;
    }
</style>
<<div class="container">
    <div style="margin-top: 5rem !important;">
        <div class="col-12">

            <div class="row justify-content-center">
                <div class="card">
                    <div class="card-header" style="padding-bottom:8px;">
                        <strong style="font-size: 18px;"><i class="fas fa-user-edit"></i>&nbsp;&nbsp;내 정보수정</strong>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <table style="color:black; margin-left:10px;">
                                <tr>
                                    <td class="profile_title">아이디</td>
                                    <td class="profile_content">&nbsp;&nbsp;{{ user.username }}</td>
                                </tr>
                                <tr>
                                    <td class="profile_title">이메일</td>
                                    <td class="profile_content">&nbsp;&nbsp;{{ user.email }}</td>
                                </tr>
                                <tr>
                                    <td class="profile_title">성</td>
                                    <td class="profile_content">{{ user_change_form.last_name }}</td>
                                </tr>
                                <tr>
                                    <td class="profile_title">이름</td>
                                    <td class="profile_content">{{ user_change_form.first_name }}</td>
                                </tr>

                            </table>
                            <br>
                            <div style="text-align: center; margin-bottom:-15px;">
                                <a href="{% url 'Information_Modification' %}" class="btn btn-sm" id="back_btn"><i class="fa fa-reply"></i>&nbsp;돌아가기</a>
                                <button type="submit" class="btn btn-sm" id="detail_btn"><i class="fas fa-check"></i>&nbsp;수정하기</button>
                            </div>
                            <div><br>
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            </div>
                        </form>

                        <script type = "text/javascript">
                            function maxLengthCheck(object){
                                if (object.value.length > object.maxLength) {
                                    object.value = object.value.slice(0, object.maxLength);
                                    }
                                }
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}