{% extends 'base.html' %}
{% block content %}
<div class="container mt-5 ">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card my-4">
                <div class="card-header text-center">
                    {% if exam_word.exam_types == 'ko' %}
                    <h4><b>단 어 TEST {{show_num}} - 영어단어 제시</b></h4>
                    {% elif exam_word.exam_types == 'en' %}
                    <h4><b>단 어 TEST {{show_num}} - 한글 뜻 제시</b></h4>
                    {% endif %}
                </div>

                <div class="container mt-5">
                    <div class="card">
                        <div class="card-body">
                            <DIV class="row">
                                <div><span class="wordname">{{ exam_word.exam_question }}</span></div>
                                <div class="wordtype">{{ exam_word.word_class }}</div>

                                {% if exam_word.hint_type == 1 %}
                                <div class="line-break"></div>
                                <div class="right">
                                    <span class="wordmean">hint: {{ exam_word.exam_hint }} 글자</span>
                                </div>
                                {% elif exam_word.hint_type == 2 %}
                                <div class="line-break"></div>
                                <div class="right">
                                    <span class="wordmean">hint: {{ exam_word.exam_hint }}</span>
                                </div>
                                {% endif %}

                            </DIV>
                        </div>
                    </div>
                </div>

                <div class="container mt-5 mb-3  d-flex justify-content-center">
                    <div class="progress col-sm-9">
                        <div class="progress-bar bg-success" id="progressBar" role="progressbar" aria-valuenow="0"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="card-body ">
                    <form class="form-inline" action="{% url 'exam_base-show' %}"
                          method="post" onsubmit="return validateForm();">
                        {% csrf_token %}
                        <input type="hidden" name="show_num" value="{{show_num}}">

                        <div class="row mb-3 d-flex justify-content-center">
                            <div class="col-sm-9 d-flex justify-content-center">
                                <input type="text" id="word_user_input" name="word_user_input"
                                       class="form-control" placeholder="{{ exam_word.exam_placeholder }}">
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" id="submitBtn" class="btn btn-primary mt-3">확 인</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function updateProgressBar() {
      let progressBar = document.getElementById('progressBar');
      let timeLeft = {{exam_word.exam_seconds}}; // 입력 시간 (밀리초)
      let interval = 50; // 갱신 간격 (밀리초)
      let startTime = new Date().getTime();
      let updateInterval = setInterval(() => {
        let currentTime = new Date().getTime();
        let elapsedTime = currentTime - startTime;
        let progress = (elapsedTime / timeLeft) * 100;
        progressBar.style.width = progress + '%';
        progressBar.setAttribute('aria-valuenow', progress);
        if (elapsedTime >= timeLeft) {
          clearInterval(updateInterval);
          progressBar.style.backgroundColor = '#dc3545'; // 빨간색으로 변경
        }
      }, interval);
    }
    updateProgressBar();
</script>


<script>
    function submitForm() {
        document.getElementById("submitBtn").click();
    }
    setTimeout(submitForm, {{exam_word.exam_redirect_seconds}}); // 3초 후에 확인 버튼을 자동으로 클릭하여 폼 데이터 전송
</script>

{% endblock content %}
